* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}

/*-------------BACKGROUND-------------*/

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}

.bg-purple {
    background-color: purple;
}

/*-----------------MAIN--------------------*/

main {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    margin-top: 10px;
}

/*--------------------LEFT----------------------*/

.left {
    flex-direction: column;
    justify-content: space-between;
}

.yellow_head {
    width: 80px;
    height: 80px;
}

.yellow_bottom {
    width: 80px;
    height: 80px;
}

/*-----------------------CENTER---------------------------*/

.container {

    padding: 10px;
    overflow-y: auto;

    flex-basis: 200px;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 10px;
}

.block_1 {
    height: 150px;
}

.block_2 {
    height: 250px;
}

.block_3 {
    height: 300px;
}

.block_4 {
    height: 100px;
}

.block_5 {
    height: 400px;
}

.block_6 {
    height: 50px;
}

.block_7 {
    height: 220px;
}

.block_8 {
    height: 440px;
}

.block_9 {
    height: 475px;
}

.block_10 {
    height: 100px;
}

/*----------------------RIGHT---------------------------*/

.green_block {
    width: 120px;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}